header{
  height: 3.5em;
  font-size: 1.5em;
}

main{
  margin: 5em 10em;
  text-align: left;
}

.date{
  border-top: solid 1px #898989;
  text-align: right;
  padding-top:10px;
}

h1{
  font-size: 2em;
}

footer{
  color:#fff;
}

code{
  color: #000;
  text-decoration: none;
}