main{
  margin: 2em 5em;
}

.date{
 /* position:absolute;
  bottom:10px;
  right:0; */
  border-top: solid 1px #898989;
  text-align: right;
  padding-top:10px;
}

.title{
  /*border-bottom: solid 1px #898989;*/
  position: relative;
}

.subhead{
  line-height: 0px
}